.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__search {
    margin-top: -100px;
  }

  &__about {
    margin-top: 4rem;
  }

  &__howto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
